.footer__confidentiality{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

@media (max-width:48em){
    .footer__confidentiality{
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;  
    }
}