.arming__text-wrap{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}

@media (max-width:48em){
    .arming__text-wrap{
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
 }