.marketing__wrap--style{
    background: url('../../../img/marketing/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:48em){
    .marketing__wrap--style{
        background-size: 185%;
    }
}