.solution__description{
   @include font(500, 1.4rem, 140%);
   text-align: center;

   width: 31.2rem;
   height: 8rem;
   margin-bottom: 2rem;
}

@media (max-width:48em){
    .solution__description{
        @include font(500,1.8rem,120%);
        text-align: center;

        width: 90%;
        height:10rem;
        margin-bottom: 3rem;
    }
}

