.results__item{
    width: 20rem;
    height: 9rem;

    @include centered();
    @include font(200, 1.4rem, 140%);
  
    color: #212121;
    text-align: center;
    
    &.active{
        color: #FFFFFF;
    }
}