.marketing__title{
    @include font(700,6.8rem,110%);

    width: 78rem;
    margin-bottom: 2.8rem;
}

@media (max-width:48em){
    .marketing__title{
        @include font(700,5.2rem,110%);
        text-align:start;

        width: 60rem;
   }
}