.form__wrapper--style{
    background: url('../../../img/form/bk.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:48em){
    .form__wrapper--style{
        background-size: 255%;
   }
}