.marketing-audit{
    @include font(500, 1.8rem, 122%);
    color: #FFFFFF;

    padding: 2rem 4rem;
   }

   @media (max-width:48em){
    .marketing-audit{
        @include font(500, 2.4rem, 120%);
        
        width: 50rem;
        padding:2rem 4rem;
        margin-right: 0rem;
       }
}