.header-btn--color{
    border-radius: 10rem;
    border-color:#FF5900;  
    background: #FFFFFF;
    border: .1rem solid #FF5900;
}

@media (max-width:48em){
    .header-btn--color{
        border:none;
    }
}