.beginning-of-work__item{
    @include font(500, 1.4rem, 140%);
    text-align: center;

    width: 24rem;
    height: 9rem;
    padding: 2.5rem 2rem;
     
    @include centered();

    &.active{
       color: #FFFFFF;
       @include font(700, 1.4rem, 140%);
    }
}