.solution__items{
    display: grid;
    grid-template-columns: repeat(3, 36rem);
    gap: 6rem; 
}

@media (max-width:48em){
    .solution__items{
             grid-template-columns: repeat(2, 47%);
            }
}